<!doctype html>
<html><head><meta charset="utf-8"><title>Surat Keterangan Belum Nikah</title></head>
<body>
  <h2>SURAT KETERANGAN BELUM NIKAH</h2>
  <p>Nomor: <%= letter.data.nomor || '' %></p>
  <p>Tanggal: <%= letter.date %></p>
  <hr/>
  <p>Nama Pemohon: <%= letter.data.nama %></p>
  <p>NIK: <%= letter.data.nik %></p>
  <p>Jenis Kelamin: <%= letter.data.jenis_kelamin %></p>
</body>
</html>
