<!doctype html>
<html><head><meta charset="utf-8"><title>Surat Taukil Wali Nikah</title></head>
<body>
  <h2>SURAT TAUKIL WALI NIKAH</h2>
  <p>Tanggal: <%= letter.date %></p>
  <p>Tujuan: <%= letter.data.tujuan_kecamatan %>, <%= letter.data.tujuan_kabupaten %></p>
  <hr/>
  <h3>Wali</h3>
  <p>NIK: <%= letter.data.nik_wali %></p>
  <p>Nama: <%= letter.data.nama_wali %></p>
</body>
</html>
